from diagrams import Cluster, Diagram, Edge
from diagrams.aws.compute import EKS, EC2Instance, ECR
from diagrams.aws.network import NATGateway, VPCElasticNetworkInterface, InternetGateway
from diagrams.aws.security import IAM, IAMRole
from diagrams.k8s.rbac import User


with Diagram("{{ env_name }}", outformat="png", direction="TB"):
  with Cluster("{{ aws_acc_name }}"):
    with Cluster("VPC Amazon EKS"):
       ekscp = EKS("EKS Control plane")
    with Cluster("VPC"):
      with Cluster("AZ#1"):
        with Cluster("Public Subnet"):
           nat = NATGateway("NAT GATEWAY")
           eniavz1 = VPCElasticNetworkInterface("EKS Network Interface")
           ec2pubavz1 = EC2Instance("EKS Worker")
        with Cluster("Private Subnet"):
           ec2privavz1 = EC2Instance("EKS Worker")

      with Cluster("AZ#2"):
        with Cluster("Public Subnet"):
           ec2bastpubavz2 = EC2Instance("Bastion EC2")
           eniavz2 = VPCElasticNetworkInterface("EKS Network Interface")
           ec2pubavz2 = EC2Instance("EKS Worker")
        with Cluster("Private Subnet"):
           ec2privavz2 = EC2Instance("EKS Worker")
      InternetGateway("Internet Gateway")

    eniavz1 - Edge(color="blue", style="dashed", label="EKS Cluster SG") - eniavz2
    pubngsg = ec2pubavz1 - Edge(color="orange", style="dashed", label="Public Node Group SG") - ec2pubavz2
    ec2privavz1 - Edge(color="orange", style="dashed", label="Private NG SG") - ec2privavz2
    ec2privavz1 >> nat << ec2privavz2
    nat >> ekscp
    eniavz1 >> ekscp << eniavz2
    ec2pubavz1 >> ekscp << ec2pubavz2
